t1_animation/planets/*.png
t1_animation/test/*.png
t1_animation/woodbox/*.png
*.bak
*~
_site
*.lock
bower_components
/t1_analysis/nbproject/private/
/t1_analysis/build/
/t1_analysis/dist/
/nbproject/private/